/* Esto son comentarios en css */
body  {
    background-image: url(mapa1.jpg);
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%; height: 100%;

}

/* Propiedades de la caja del encabezado h1 */
h1{
    font-family: fantasy;
    color:black;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    background-color: lightyellow;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px; /* Relleno */
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 2px solid lightyellow;
}

.Sobre-mi{
    
        font-family: fantasy;
        color:black;
        font-size: 15px;
        font-weight: 300;
        background-color: lightyellow;
        margin: 0 0 25px;
        overflow: hidden;
        padding: 20px; /* Relleno */
        border-radius: 35px 0px 35px 0px;
        -moz-border-radius: 35px 0px 35px 0px;
        -webkit-border-radius: 35px 0px 35px 0px;
        border: 2px solid lightyellow;

        width: 70%; height: 200px;
}

.Estudios{
    
    font-family: fantasy;
    color:black;
    font-size: 15px;
    font-weight: 300;
    background-color: lightyellow;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px; /* Relleno */
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 2px solid lightyellow;

    width: 70%; height: 150px;
}

.Experiencia-laboral{
    
    font-family: fantasy;
    color:black;
    font-size: 15px;
    font-weight: 300;
    background-color: lightyellow;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px; /* Relleno */
    border-radius: 35px 0px 35px 0px;
    -moz-border-radius: 35px 0px 35px 0px;
    -webkit-border-radius: 35px 0px 35px 0px;
    border: 2px solid lightyellow;

    width: 100%; height: 600px;

    img {width: 30px; height: 25px;}
}
